<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>类型</th>
			<th>内容</th>
			<th>操作</th>
		</tr>
	</thead>
	<%= render @client_exceptions if @client_exceptions %>
</table>