<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>公司名称</th>
			<th>公司负责人</th>
			<th>操作</th>
		</tr>
	</thead>
	<%= render @taxi_companies if @taxi_companies %>
</table>