<% page_header(action_groups) do |group,action| %>
<div class="page-header position-relative">
	<h1>
		<%= group[:name]%>
		<small>
			<i class="icon-double-angle-right"></i>
			<%= action[:title] %>
		</small>
	</h1>
</div>
<% end %>